[client]
port   = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice   = 0

[mysqld]
user    = mysql
datadir = /var/lib/mysql
socket  = /var/run/mysqld/mysqld.sock
port    = 3306
bind-address = 0.0.0.0        # <— allow other containers over TCP

# Good defaults for WP/most apps
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci

# Logs
log_error = /var/log/mysql/error.log

# Alpine includes extra configs here (optional)
!includedir /etc/my.cnf.d/
